[flake8]
max-line-length = 88
extend-ignore = E203

exclude =
    .git,
    __pycache__,
    migrations,
    .venv,
    venv,
    staticfiles,
    media,
    node_modules

per-file-ignores =
    */settings/*.py: F403, F405
    __init__.py: F401