[flake8]
# Увеличиваем лимит до стандарта Black, чтобы они не спорили
max-line-length = 88

# Игнорируем специфические конфликты Black и Flake8
extend-ignore = E203

# Самое важное: исключаем папки, которые не нужно проверять
exclude =
    .git,
    __pycache__,
    migrations,
    .venv,
    venv,
    staticfiles,
    media,
    node_modules

# Позволяем star-импорты в настройках, чтобы не ругался на settings
per-file-ignores =
    */settings/*.py: F403, F405
    __init__.py: F401