services:
  web:
    build: .
    ports:
      - "8000:8000"
    deploy:
      resources:
        limits:
          memory: 512M
    volumes:
      - ./static:/app/static
      - ./staticfiles:/app/staticfiles
    restart: unless-stopped
    env_file:
      - .env
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis

  redis:
    image: redis:7.1.1
    restart: unless-stopped