services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./static:/app_music/static
      - ./staticfiles:/app_music/staticfiles
    restart: unless-stopped
    env_file:
      - .env