apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
spec:
  replicas: 2
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      terminationGracePeriodSeconds: 30
      initContainers:
        - name: check-db-ready
          image: postgres:15-alpine
          env:
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secrets
                  key: postgres-password
          command: [ 'sh', '-c', 'until pg_isready -h postgres -p 5432 -U postgres; do echo waiting for database; sleep 2; done;' ]

      containers:
        - name: django
          image: music-platform
          imagePullPolicy: Never
          command: [ "uvicorn", "music_project.asgi:application", "--host", "0.0.0.0", "--port", "8000", "--workers", "1" ]
          ports:
            - containerPort: 8000

          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

          readinessProbe:
            httpGet:
              path: /health/
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health/
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 10

          envFrom:
            - configMapRef:
                name: django-config
            - secretRef:
                name: postgres-secrets

---

apiVersion: batch/v1
kind: Job
metadata:
  name: django-migrate
spec:
  ttlSecondsAfterFinished: 60
  template:
    spec:
      initContainers:
        - name: wait-for-db
          image: postgres:15-alpine
          env:
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secrets
                  key: postgres-password
          command: [ 'sh', '-c', 'until pg_isready -h postgres -p 5432 -U postgres; do echo waiting for db; sleep 2; done;' ]
      containers:
        - name: migrate
          image: music-platform
          imagePullPolicy: Never
          command: [ "sh", "-c", "python manage.py migrate --noinput && python manage.py collectstatic --noinput" ]
          envFrom:
            - configMapRef:
                name: django-config
            - secretRef:
                name: postgres-secrets
      restartPolicy: OnFailure

---

apiVersion: v1
kind: Service
metadata:
  name: django-service
spec:
  type: ClusterIP
  selector:
    app: django
  ports:
    - port: 8000
      targetPort: 8000

---

apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: django-pdb
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: django