.form-search {
    margin-top: 1vh;
}

.input-search {
    padding: 3px;
    font-weight: 300;
}

.input-search:focus {
    border-color: rgb(255, 0, 0);
    box-shadow: none;
    outline: none;
}

.input-search:-webkit-autofill,
.input-search:-webkit-autofill:hover,
.input-search:-webkit-autofill:focus,
.input-search:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-card-bg-light) inset !important;
    -webkit-text-fill-color: var(--color-text-dark) !important;
    transition: background-color 5000s ease-in-out 0s;
}

.input-search {
    -webkit-autofill: none !important;
    -webkit-autocomplete: none !important;
    -webkit-autocorrect: none !important;
    -webkit-autocapitalize: none !important;
    -webkit-credentials-auto-fill: none !important;
    -webkit-form-auto-fill: none !important;
}

input.input-search::-webkit-search-cancel-button,
input.input-search::-moz-search-cancel-button,
input.input-search::-ms-clear {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none !important;
    -webkit-appearance: none !important;
}

input[type="search"]::-moz-search-cancel-button {
    display: none !important;
    -moz-appearance: none !important;
}

.form-control::-webkit-search-cancel-button,
.form-control::-moz-search-cancel-button,
.form-control::-ms-clear {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm0 6a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z'/%3E%3C/svg%3E");
    background-size: 16px 16px;
    border: none;
    cursor: pointer;
}

.input-search-icon {
    padding-left: 30px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23dc3030"><circle cx="10" cy="10" r="6"/><line x1="14" y1="14" x2="20" y2="20" stroke="%23dc3030" stroke-width="2"/></svg>');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
}