.custom-navbar {
    background-color: #000000;
    padding-top: 0.1vh;
    padding-bottom: 0.3vh;
}

.footer-nav {
    background-color: #000000;
}

.logo-font {
    margin-left: -4.8vh;
}

.logo-text {
    color: #dc3030e6;
    -webkit-text-stroke: 0.1px whitesmoke;
    font-size: 1.4em;
    margin-top: 1vh;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.brand-span {
    color: white;
    opacity: 0.83;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
}

.logo-font img {
    width: 60px;
    height: 60px;
    filter: brightness(0.93);
    margin-right: 0.4vh;
}

.nav-link {
    font-size: 1.3em;
    color: #e13737ec;
    transition: ease-in-out 0.4s all;
}

.nav-link:hover {
    color: #ff3737;
    scale: 1.3;
}

.custom-button {
    color: rgba(245, 245, 245, 0.906);
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #dc3030;
}

.custom-button:hover {
    color: rgba(245, 245, 245, 0.906);
    border-color: #dc3030;
    background-color: #dc3030;
    text-shadow: 1px 1px 2px rgb(98, 98, 98), 0 0 1em rgb(255, 255, 255);
}

.input-search {
    padding: 3px;
}

.input-search:focus {
    border-color: #d52e2e;
    box-shadow: 0 0 5px #ee3333;
}

.form-search {
    margin-top: 1vh;
}