.custom-navbar {
    background-color: #000000;
    padding-top: 0.1vh;
    padding-bottom: 0.3vh;
}

.footer-nav {
    background-color: #000000;
}

.logo-font {
    margin-left: -4.8vh;
}

.logo-text {
    color: #e83232;
    -webkit-text-stroke: 0.1px whitesmoke;
    font-size: 1.4em;
    margin-top: 1vh;
}

.brand-span {
    color: white;
    opacity: 0.83;
    font-size: 1.1em;
}

.logo-font img {
    width: 60px;
    height: 60px;
    filter: brightness(1.1);
    margin-right: 0.4vh;
}

.nav-link {
    font-size: 1.3em;
    color: #e13737ec;
    transition: ease-in-out 0.4s all;
}

.nav-link:hover {
    color: #f43232;
    scale: 1.2;
}