body {
    background-image: url('../images/backgroundai.png');
    background-size: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    zoom: 0.96;
}

.custom-navbar {
    background-color: #000000;
    padding-top: 0.1vh;
    padding-bottom: 0.3vh;
    border-radius: 30px;
}

.footer-nav {
    background-color: #000000;
    border-radius: 20px;
}

.custom-navbar,
.footer-nav {
    border: 7px solid rgb(229, 229, 229);
    box-shadow: 0px 0px 7px rgb(104, 104, 104);
}

.logo-font {
    margin-left: -4.8vh;
}

.logo-text {
    color: #dc3030e6;
    font-size: 1.4em;
    margin-top: 1vh;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    perspective: 800px;
    display: inline-block;
    overflow: hidden;
}

.brand-span {
    color: white;
    opacity: 0.83;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
}

.logo-font img {
    width: 70px;
    height: 70px;
    filter: brightness(0.93);
    margin-right: 0.4vh;
}

.nav-link {
    font-size: 1.3em;
    color: #e13737ec;
    transition: ease-in-out 0.4s all;
}

.nav-link:hover {
    color: #ff3737;
    scale: 1.3;
}

.custom-button {
    color: rgba(245, 245, 245, 0.906);
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #dc3030;
}

.custom-button:hover {
    color: rgba(245, 245, 245, 0.906);
    border-color: #dc3030;
    background-color: #dc3030;
    text-shadow: 1px 1px 2px rgb(98, 98, 98), 0 0 1em rgb(255, 255, 255);
}

.input-search {
    padding: 3px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.input-search:focus {
    border-color: #d52e2e;
    box-shadow: 0 0 5px #ee3333;
}

.form-search {
    margin-top: 1vh;
}

.form-control::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm0 6a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z'/%3E%3C/svg%3E");
    background-size: 16px 16px;
    border: none;
    cursor: pointer;
}

.form-control::-moz-search-cancel-button {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm0 6a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z'/%3E%3C/svg%3E");
    background-size: 16px 16px;
    border: none;
    cursor: pointer;
}

.form-control::-ms-clear {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm0 6a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z'/%3E%3C/svg%3E");
    background-size: 16px 16px;
    border: none;
    cursor: pointer;
}

h2 {
    text-align: center;
    color: #242424c5;
    font-family: "Roboto", sans-serif;
    font-size: 2.3em;
    background-color: #ffffff80;
    border: 2px solid #ffff;
    border-left: 2px solid rgba(255, 65, 55, 0.75);
    border-right: 2px solid rgba(255, 65, 55, 0.75);
    border-radius: 14px;
    font-weight: 400;
    border-top: 1.7px solid #fff;
    border-bottom: 1.7px solid #fff;
    box-shadow: #a1a1a1 1px 1px 2px;
}

/* Стили для поиска музыки */
.search-container {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    margin-bottom: 7px;
}

.track-item {
    background-color: #ffffff80;
    padding: 14px;
    border-top: 1.7px solid #fff;
    border-bottom: 1.7px solid #fff;
    border-left: 1.4px solid rgba(255, 65, 55, 0.75);
    border-right: 1.4px solid rgba(255, 65, 55, 0.75);
    border-radius: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-100px);
    visibility: hidden;
    will-change: transform, opacity;
}

#searchResults h2 {
    transform: translateY(-100px);
    opacity: 0;
    will-change: transform, opacity;
    margin: 20px 0;
    transition: none;
}

.track-title {
    color: black;
    font-size: 1.1rem;
    margin-bottom: 5px;
    padding: 3px;
}

.track-artist {
    color: #aaa;
    margin-bottom: 3px;
}

.track-listeners {
    color: #777;
    font-size: 0.9em;
}

.search-loading {
    text-align: center;
    color: #dc3030;
    padding: 20px;
    font-size: 1.1rem;
}

.track-item .track-listeners {
    color: rgb(215, 215, 215);
}

.track-item-wrapper {
    margin-top: 40px;
    margin-bottom: 4px;
}

.track-image {
    border-radius: 7px;
    width: 88px;
    height: 88px;
    border: 1.7px solid rgb(255, 255, 255);
}

.arrow-track {
    width: 111px;
    height: 111px;
    margin-left: -22vh;
    opacity: 0;
}

.alert-danger,
.alert-dark {
    margin-top: 7vh;
    transform-origin: center;
    will-change: transform, opacity;
}

.btn-show-more {
    scale: 1.1;
}

.popular-h2 {
    font-size: 1.8em;
    padding: 4px;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 20px;
    border: 2px solid #ffff;
    border-left: 2px solid rgba(255, 65, 55, 0.75);
    border-right: 2px solid rgba(255, 65, 55, 0.75);
    box-shadow: none;
    background-color: #ffffff80;
    border-radius: 14px;
    font-weight: 400;
    color: #242424f6;
    font-family: "Roboto", sans-serif;
}

.popular-h2::after {
    content: "";
    display: block;
    width: 5%;
    height: 1.5px;
    background-color: rgba(255, 65, 55, 0.75);
    margin: 8.3px auto 0;
    border-radius: 7%;
}

.card-custom,
.card-year {
    border-left: 1.4px solid rgba(255, 65, 55, 0.75);
    border-right: 1.4px solid rgba(255, 65, 55, 0.75);
}

.card-footer,
.card-custom,
.card-year {
    background-color: #ffffff80;
}

/* Мобильные устройства */
@media (max-width: 575.98px) {
    .logo-font img {
        width: 51px;
        height: 51px;
        margin-left: 3vh;
    }

    .custom-navbar {
        padding-bottom: 1.4vh;
    }

    .popular-h2 {
        margin-top: -7vh;
    }

    .btn-show-more {
        margin-top: 1vh;
    }

    .popular-h2::after {
        width: 16%;
    }
}

/* Планшеты */
@media (min-width: 576px) and (max-width: 767.98px) {
    .logo-font img {
        width: 60px;
        height: 60px;
        margin-top: 0;
    }

    .custom-navbar {
        padding-bottom: 1.6vh;
    }

    .btn-show-more {
        margin-top: 0.3vh;
    }
}

/* Ноутбуки и десктопы */
@media (min-width: 768px) {
    .logo-font img {
        width: 70px;
        height: 70px;
    }
}