{% extends 'base.html' %}
{% load static %}
{% block title %}Главная – RubySound.fm{% endblock %}

{% block popular %}

<section id="popular-block" class="container my-5">
  <h1 class="visually-hidden">Поиск и прослушивание музыки онлайн — тренды и чарты 2026</h1>

  <div class="d-none d-lg-flex justify-content-start mb-5">
    <button id="goto-year-chart" type="button" class="btn btn-danger btn-sm me-2">
      🎵 Актуальный чарт <span class="text-white">⬇</span>
    </button>
  </div>

  <div class="row mb-5 info-project position-relative">
    <svg class="note-icon d-none d-lg-block left hide-ipad-pro hide-ipad-mini" aria-hidden="true" viewBox="0 0 120 120"
      preserveAspectRatio="meet">
      <image href="{% static 'images/note_rubin.svg' %}" width="120" height="120" />
    </svg>

    <svg class="note-icon d-none d-lg-block right hide-ipad-pro hide-ipad-mini" aria-hidden="true" viewBox="0 0 120 120"
      preserveAspectRatio="meet">
      <image href="{% static 'images/note_rubin.svg' %}" width="120" height="120" />
    </svg>

    <div class="col-lg-8 mx-auto text-center box-info">
      <h2 class="mb-3 about-h2 pb-2">О проекте</h2>
      <p class="lead mb-0">
        <span class="ruby_span">RubySound.fm</span> — веб-приложение на
        <span class="django_span">Django</span> и
        <span class="rest_span">REST Framework</span> для поиска музыки и артистов,
        а также для прослушивания превью треков. Проект объединяет данные из
        <span class="fm_span">Last.fm</span>, <span class="deexer_span">Deezer</span> и
        <span class="tune_span">iTunes</span>, предоставляет
        <span class="api_span">REST API</span> и интерактивный фронтенд с возможностью
        прослушивания превью и анимациями.
      </p>
    </div>
  </div>

  <h2 class="mb-4 text-center popular-h2 pb-2 p-2">Топ-Артисты</h2>

  <div class="carousel-wrapper position-relative shadow-sm mb-2">
    <button
      class="scroll-left btn btn-danger btn-sm position-absolute top-50 start-0 translate-middle-y z-3 d-none d-md-block">&lt;</button>
    <div class="d-flex overflow-auto gap-2 pb-2" id="trending-genre-container"></div>
    <button
      class="scroll-right btn btn-danger btn-sm position-absolute top-50 end-0 translate-middle-y z-3 d-none d-md-block">&gt;</button>
  </div>


  <div id="trending-spinner" class="search-loading" hidden>
    <i class="fas fa-spinner fa-spin"></i>
    <span class="fw-normal">загрузка данных…</span>
  </div>

  <div class="row row-cols-1 mb-4 row-cols-lg-2 g-4" id="trending-container"></div>


  <h2 id="year2026-chart" class="mb-4 pb-2 p-2 text-center popular-h2">
    Актуальный чарт
  </h2>

  <div class="carousel-wrapper position-relative shadow-sm mb-2">
    <button
      class="scroll-left btn btn-danger btn-sm position-absolute top-50 start-0 translate-middle-y z-3 d-none d-md-block">&lt;</button>
    <div class="d-flex overflow-auto gap-2 pb-2" id="year-genre-container"></div>
    <button
      class="scroll-right btn btn-danger btn-sm position-absolute top-50 end-0 translate-middle-y z-3 d-none d-md-block">&gt;</button>
  </div>

  <div id="year-spinner" class="search-loading" hidden>
    <i class="fas fa-spinner fa-spin"></i>
    <span class="fw-normal">загрузка данных…</span>
  </div>

  <div id="year2025-container" class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-3"></div>

</section>
{% endblock %}
