{% extends "base.html" %}

{% load compress %}

{% load static %}

{% block title %}Login - RubySound.fm{% endblock %}

{% block content %}

<div class="auth-page py-5">
    <section class="auth-widget">
        <div class="auth-icon" aria-hidden="true">
            <i class="bi bi-door-open fs-1"></i>
            <h1 class="login-title fs-2 mt-2">Войти</h1>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger alert-login">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p class="mb-1">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <div class="alert alert-danger alert-login">
                    У вашей учётной записи нет доступа к этой странице. Чтобы продолжить, войдите в аккаунт, у которого есть соответствующие
                    права доступа.
                </div>
            {% else %}
                <div class="alert alert-danger alert-login">
                    Пожалуйста, войдите в систему, чтобы увидеть эту страницу.
                </div>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" required>
            </div>

            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
                <input type="password" class="form-control" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" required>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name="{{ form.remember.name }}" id="{{ form.remember.id_for_label }}">
                <label class="form-check-label" for="{{ form.remember.id_for_label }}">
                    Запомнить меня
                </label>
            </div>

            <div class="d-grid gap-2 mt-5">
                <button type="submit" class="btn btn-ruby-solid shadow-sm">Войти</button>
            </div>

            <input type="hidden" name="next" value="{{ next }}">
        </form>

        <div class="text-center mt-4">
            <p class="mb-0">Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрироваться</a></p>
        </div>
    </section>
</div>
{% endblock %}
